<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/401.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>saveUser</servlet-name>
        <servlet-class>Controller.saveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signIn</servlet-name>
        <servlet-class>Controller.signIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signOut</servlet-name>
        <servlet-class>Controller.signOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveDeadline</servlet-name>
        <servlet-class>Controller.saveDeadline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveApplication</servlet-name>
        <servlet-class>Controller.saveApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveSchool</servlet-name>
        <servlet-class>Controller.saveSchool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>executeAdmin</servlet-name>
        <servlet-class>Controller.executeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeadLineController</servlet-name>
        <servlet-class>Controller.DeadLineController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistryController</servlet-name>
        <servlet-class>Controller.RegistryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveChild</servlet-name>
        <servlet-class>Controller.saveChild</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>saveUser</servlet-name>
        <url-pattern>/saveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signIn</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signOut</servlet-name>
        <url-pattern>/signOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveDeadline</servlet-name>
        <url-pattern>/saveDeadline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveApplication</servlet-name>
        <url-pattern>/saveApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveSchool</servlet-name>
        <url-pattern>/saveSchool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>executeAdmin</servlet-name>
        <url-pattern>/executeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeadLineController</servlet-name>
        <url-pattern>/DeadLineController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistryController</servlet-name>
        <url-pattern>/RegistryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveChild</servlet-name>
        <url-pattern>/saveChild</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
